<!-- _partial/post/entry -->
<div class="panel-body">
  <div class="row">
  <% if (item.feature ) { %>
	<div class="col-md-8">
	<% } else { %>
	<div class="col-md-12">
	  <% } %>
        
    <% if (index) { %>
        <% if (item.excerpt) { %>
          <%- strip_html(item.excerpt).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>
        <% } else { %>
          <%- strip_html(item.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>
        <% } %>
	<% } else { %>
        <% if (item.excerpt) { %>
          <%- item.excerpt %>
        <% } else { %>
          <%- item.content %>
        <% } %>
    <% } %>
        
	</div>
	<% if (item.feature ) { %>
	<div class="col-md-4">
	  <div class="thumbnail"><a href="<%- config.root %><%= item.path %>"><img src="<%= config.root %><%= item.feature %>" alt="<%= item.title %>"  class="nofancybox"></a></div>
	</div>
	<% } %>

</div>
    <br />
    <a type="button" href="<%- config.root %><%- item.path %>" class="btn btn-primary btn-sm"><%= __('read_more') %></a>
</div>
